<div class="chat__item {{#if active}}chat__item--active{{/if}}">
    <div class="chat__logo">
        <img src="{{img}}" alt="">
    </div>
    <div class="chat__content">
        <div class="chat__name">{{name}}</div>
        <div class="chat__desc">{{desc}}</div>
    </div>
</div>
