<div class="messages__item {{#if self}} messages__item--self {{/if}}">
    <div class="messages__avatar">
        <img src="{{ avatar }}" alt="">
    </div>
    <div class="messages__val">
        {{{ text }}}
    </div>
</div>